<span id="missing_alt_text">
    
</span>

<script>
    
</script>

{% schema %}
    {
        "name": "Missing_Alt_Warning",
        "target": "section",
        "settings": []
    }

{% endschema %}